@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SilverStreak";
  src: url("/font/Silver%20Streak%20Expanded%20Light.otf") format("opentype");
  font-weight: 300;            /* ajusta si quieres */
  font-style: normal;
  font-display: swap;         /* evita bloqueos de renderizado */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@media (prefers-reduced-motion) {
  .animate-scroll {
    animation: none;
  }
}

.loader {
  border-top-color: #3498db;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Cambia este valor al número de líneas que deseas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}